// Change modal background
.modal {
    --bs-modal-bg: var(--background);
}

// Invert font color while retaining button colors
:not(#timer-list) *:not(.btn) {
    color: var(--foreground);
}

:not(#timer-list) input:not([type=checkbox]):not([type=radio]):focus  {
    background-color: var(--background);
    border-color: var(--background-alt);
    color: var(--foreground);
}

.modal input:not([type=checkbox]):not([type=radio]) {
    background-color: var(--background);
    border-color: var(--background-alt);
    color: var(--foreground);
}

.modal select {
    background-color: var(--background);
    border-color: var(--background-alt);
    color: var(--foreground);
}

#top-controls input:not([type=checkbox]):not([type=radio]) {
    background-color: var(--background);
    border-color: var(--background-alt);
    color: var(--foreground);
}

#top-controls select {
    background-color: var(--background);
    border-color: var(--background-alt);
    color: var(--foreground);
}

.input-group-text {
    background-color: var(--background-alt);
    border-color: var(--background-alt);
    color: var(--foreground-alt)
}

// Removes background color from floating label
.form-floating > .form-control:focus ~ label::after, .form-floating > .form-control:not(:placeholder-shown) ~ label::after, .form-floating > .form-control-plaintext ~ label::after, .form-floating > .form-select ~ label::after {
    background-color: inherit;
}